*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: #660080;
    padding: 20px;

}

.wrapper{
    background-color: white;
    padding: 30px;
    border-radius: 6px;
    padding-top: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 6px 4px 1px 10px rgba(0, 0, 0, 0.486);
}

h1{
    margin-bottom: 40px;
    font-size: 24px;
    font-family: sans-serif;
}

 input{
    width: 420px;
    height: 50px;
    border: 0;
    outline: 0;
    border: 3px solid #35085a;
    padding: 20px;
    user-select: none;
    font-size: 22px;
    border-radius: 6px;
    letter-spacing: 1px;
}

input::placeholder{
    font-size: 22px;

}

.btn_holder{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-family: sans-serif;
    background: #660080;
    border-radius: 7px;
    color: white;
    padding: 14px 20px;
}

button:hover{
    background-color: rgb(83, 37, 76);
    color: white;
}

.btn3{
    background-color: #790252;
    width: 180px;
}


@media (min-width: 345px) {
    .wrapper{
        padding: 20px;
        padding-top: 20px;
        background-color: #2E0249;
        border-radius: 5px;
        box-shadow: 0 0 10px;
    }

    h1{
        font-size: 1.3rem;
        color: #660080;
    }

    input{
        width: 200px;
        height: 40px;
        padding: 10px;
        text-align: center;
        font-size: 20px;
        display: block;
    }
    
    .btn_holder{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin-bottom: 40px;

    }
  
button{
    width: 133px;
    height: 30px;
    border-radius: 7px;
    color: white;
    padding: 0px 0px;
    display: block;

}
.btn2{
    background-color: #570A57;
}

}
@media screen and (min-width: 600px) {
 
    input{
        width: 300px;
        height: 40px;
        padding: 10px;
        text-align: center;
        font-size: 20px;
        display: block;
    }
    
    .btn_holder{
        flex-wrap: wrap;
        flex-direction:unset; 

    }
  
button{
    width: 240px;
    height: 50px;

}
.btn2{
    background-color: #570A57;
}

}